
$main-color: #971e41;
$secondary-color: #dadada;
$dark-red:#9a0c41;

body{
    min-height: 1200px;
}
#snap-container{
    width:73.5%;
    margin: 0 auto;

    ul{
    	padding:0;
    	
        li{
		    list-style: none;
		    display:inline-block;
		    margin: 0;
            text-align: center;
            color:#000
		    
		}
	}
	
}
#intro {
    margin: 20px 0 20px 0;

    #info {
        padding: 45px 0 0 0;

        h3{
            color:$main-color;
            margin-bottom: 2px;
        }       
    }
}
.section{
    background: $secondary-color;
    height:125px;
    padding: 10px;
    margin: 10px 0;
    overflow: hidden;
    z-index: 3;
    font-family: 'Chantilly-light', Arial, sans-serif;
    color:#fff;
    cursor: pointer; 
    opacity: 0.5;

    -moz-transition: opacity .1s ease-in-out;
    -ms-transition: opacity .1s ease-in-out;
    -o-transition: opacity .1s ease-in-out;
    -webkit-transition: opacity .1s ease-in-out;
    transition: opacity .1s ease-in-out; 

    h1{
        float: left;
        margin: 0 0 0 30px;
        font-family: 'Chantilly-light';
        color:#fff;

    }

    .title{
        float: left;
        margin: 30px 0 0 2%;
        line-height: 37px;
        font-family: 'GillSansMedium';
        font-size: rem-calc(22);
    }
    #trend-title {
        // margin-top: 65px;
    }
    .thumbnail{
        z-index: 1;
        float: right;
        width: 112px;
        max-height: 90px;
        margin:10px 2px;
        overflow: hidden;

        img{
            border: solid 2px #f9f9f9 !important;

        }
    }
}
#trend{
    padding: 0;
    .thumbnail{
        margin:19px 10px;
    }
}
.active{
    background:$main-color;
    height:auto;
    cursor: default; 
    opacity: 1;
}

.previous{
    background: url('../img/arrow_up_hover.png') no-repeat top center transparent;
    margin: 40px 30px 0 0px;
    padding: 10px 0;
    float: right;
    font-size: rem-calc(13);
    text-transform: uppercase;
    color: #fff !important;

}
.product-title {
    color: #000;
    width: auto;
    margin: 0 auto;
    text-align: center;
    font-size: rem-calc(12);
    text-transform: uppercase;
}
.items-list img{
    width: 60%;
}
.filters{
    margin-left: 2.5rem;
    padding: 50px 0 0 0;
    float: left;
}
#filters-desktop{
    display: block;
}
#filters-mobile{
    display: none;
}
button.btn-filter{
    background: url('../img/arrow_right.png') no-repeat 88% center #fff;
    margin-right: rem-calc(12);
    padding: rem-calc(10) rem-calc(20);
    padding-right: 1.6rem;
    text-transform: uppercase;
    color: $dark-red;
    border: solid 1px $dark-red;
    cursor: pointer;
}
// button.btn-filter:after{
//     content: '  > ';
// }
button.selected{
    //background-color: #6a082d;
    background: url('../img/arrow_down_hover.png') no-repeat 88% center #6a082d;
    padding: 0.7rem 1.25rem;
    padding-right: 2rem;
    color:#fff;
}
button:focus {outline:0;}

#preloader{
    
    padding: 20px;

    #status {
        
        width: auto;
        height: 380px;
        margin: 0 auto;
        background-image: url(http://www.oasis-stores.com/pws/client/images/SnapFashion/preload/preload.gif);
        background-repeat: no-repeat;
        background-position: center;
    
    }
}


/*Utils*/

.white{
    background-color: #fff;
    padding-top: 20px;
}
.hide{
    display: none !important;
}


@media #{$small-only} {
    
    h1{
        margin:0;
    }
    
    #intro {
        text-align: center;

        h3{
            
            font-size: rem-calc(20);
        }
        
    }
    .section {
        height: 120px;

        h1{
            margin: 0;   
        }
        .title{
            margin: 20px 0 0 2%;
            line-height: 37px;
            font-size: 1.3rem;
        }
        #trend-title {
            // margin-top: 59px;
        }

    }
    .active{
        height: auto;
    }
    .product-title{
        
        width:auto;
    }
    .previous{
        margin: 40px 0 0 0;
    }
    
    .matches-list.small-block-grid-2 > li:nth-of-type(2n+1) {
        
        clear: both;
    }
    .filters{
        padding: 0 0 20px 0;
    }
    .btn-filter{
        margin-right: 0;
    }

    #filters-desktop{
        display: none!important;
    }
    #filters-mobile{
        display: block;
        margin-left: 0;
    }
    
}
@media #{$medium-only} {
    
    h1{
        margin:0;
    }
    .product-title{
        
        width:70%;
    }
    
    .matches-list.small-block-grid-2 > li:nth-of-type(2n+1) {
        
        clear: both;
    }
    .filters{
        padding: 20px 0 0 0;

    }
    #filters-desktop{
        display: none!important;
    }
    #filters-mobile{
        display: block!important;
    }
    

}
 
/* FONTS */


// @font-face {
//     font-family: 'chantilly-regular';
//     src: url('/pws/client/fonts/Chantilly-Regular-webfont.eot');
//     src: url('/pws/client/fonts/Chantilly-Regular-webfont.eot?#iefix') format('embedded-opentype'),
//          url('/pws/client/fonts/Chantilly-Regular-webfont.woff') format('woff'),
//          url('/pws/client/fonts/Chantilly-Regular-webfont.ttf') format('truetype'),
//          url('/pws/client/fonts/Chantilly-Regular-webfont.svg#chantilly-regular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'chantilly-light';
//     src: url('/pws/client/fonts/Chantilly-Light-webfont.eot');
//     src: url('/pws/client/fonts/Chantilly-light-webfont.eot?#iefix') format('embedded-opentype'),
//          url('/pws/client/fonts/Chantilly-Light-webfont.woff') format('woff'),
//          url('/pws/client/fonts/Chantilly-Light-webfont.ttf') format('truetype'),
//          url('/pws/client/fonts/Chantilly-Light-webfont.svg#chantilly-regular') format('svg');
//     font-weight:none;
//     font-style: none;
// }

// @font-face {
//     font-family: 'chantilly-bold';
//     src: url('/pws/client/fonts/Chantilly-Bold-webfont.eot');
//     src: url('/pws/client/fonts/Chantilly-Bold-webfont.eot?#iefix') format('embedded-opentype'),
//          url('/pws/client/fonts/Chantilly-Bold-webfont.woff') format('woff'),
//          url('/pws/client/fonts/Chantilly-Bold-webfont.ttf') format('truetype'),
//          url('/pws/client/fonts/Chantilly-Bold-webfont.svg#chantilly-regular') format('svg');
//     font-weight:none;
//     font-style: none;
// }

// @font-face {
//     font-family: 'GillSansMedium';
//     src: url('/static/files/fonts/GillSansMTProCyr-Medium.eot');
//     src: local('GillSansMedium'),
//          url('pws/client/fonts/GillSansMTProCyr-Medium.eot?#iefix') format('embedded-opentype'),
//          url('pws/client/fonts/GillSansMTProCyr-Medium.woff') format('woff'),
//          url('pws/client/fonts/GillSansMTProCyr-Medium.ttf') format('truetype'),
//          url('pws/client/fonts/GillSansMTProCyr-Medium.svg#GillSansMedium') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }






